<div class="main-window"> 
    <div style="height: 80%;">
        <div style="display: flex; flex-flow: row nowrap; width: 20%; height: 100%">
            <app-speed-control style="align-self: center; height: 100%; width: 100%;"></app-speed-control>
            <button (click)="releaseControl()"></button>
        </div>
    </div>
    <div style="height: 20%;">
        <div style="display: flex; flex-flow: column nowrap; width: 100%; height: 100%">
            <app-steering-control style="align-self: center; height: 100%; width: 100%;"></app-steering-control>    
        </div>
    </div>
</div>