/* slides.component.scss */
@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.my-swiper {
    height: 100%;
}

.swiper-slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  height: 100%;
  max-width: 600px;
  margin: auto;
  border-radius: 20px;
}
.main-window {
    display: flex;
    flex-flow: column;
    background: #006e9b;
    height: 100%;
}
